html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

/* Particles */
#particles {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #E42D40;
}

#intro {
  position: absolute;
  left: 0;
  top: 250px;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
}

/* Creates navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
}

li {
    text-align: center;
    display: inline-block;
    font-size: 1.1em;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 22.86px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: ##E42D40;
    color: white;
    text-decoration: none;
    border-bottom: 5px solid white;
    line-height: 10px;
}
