/* Imported fonts */
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* CSS Layout */
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

body {
    background: #fff;
    /*color: #fff;*/   /* Okay what the fuck??? */
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 50px;
}

/* Creates navigation bar*/
ul {
    /* float: left */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    font-family: 'Amaranth', sans-serif;
    color: #e42d40;
}

li a {
    display: inline-block;
    color: #e42d40;
    text-align: center;
    padding: 20px 22.86px;
    text-decoration: none;
}

li a:hover {
    color: #e42d40;
    text-decoration: none;
    border-bottom: 4px solid #e42d40;
    line-height: 0;
}

/* Event calendar */
.container {
    background: #e42d40;
    padding-bottom: 16px;
    margin-top: 50px;
}

#event-calendar {
    text-align: center;
}

#event-calendar h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

#event-calendar h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: white;
}

iframe {
    margin-top: 50px;
}


/* Upcoming events */
.container {
    background: #e42d40;
    /*padding-bottom: 16px;*/
    margin-top: 50px;
}

#upcoming-events h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: center;
}

#upcoming-events h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

.post {
    padding-bottom: 80px;
}

.post-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.post-content {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#photos {
    text-align: center;
    margin-top: 10px;
}

#photos img {
    margin: 0 auto;
    display: block;
    /*padding-bottom: 20px;*/
}


/* Footer */
#container {
    min-height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-top: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

}

#footer p {
    margin-bottom: 2px;
    text-align: center;
    color: #000;
}

#footer a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
}

#footer a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #e42d40;
    font-weight: 400;
}
