/* Imported fonts */
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* CSS Layout */
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

body {
    background: #fff;
    color: #fff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

/* Creates navigation bar*/
#nav {
    /* float: left */
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

#nav li {
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    font-family: 'Amaranth', sans-serif;
    color: #e42d40;
}

#nav li a {
    display: inline-block;
    color: #e42d40;
    text-align: center;
    padding: 20px 22.86px;
    text-decoration: none;
}

#nav li a:hover {
    color: #e42d40;
    text-decoration: none;
    border-bottom: 4px solid #e42d40;
    line-height: 0;
}

/* Registration */
#register h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #e42d40;
    margin-top: 50px;
    background: white;
}

#register h1:after, h1:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    margin-right: 4px;
}

.register_form {
    margin: 15px auto;
    width: 37.5em;

}

.register_form label {
    display: block;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    color: #e42d40;
}

ul input {
    width: 90%;
    height: 2em;
    font-size: 0.975em;
}

select {
    width: 90.5%;
    height: 3em;
    font-size: 0.875em;
}

#buttonHolder {
    text-align: center;
}

#submit_button {
    background-color: #e42d40;
    color: #fff;
    padding: 15px 32px;
    border: 3px solid #e42d40;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-weight: bold;
    width: auto;
}

#submit_button:hover {
    background-color: #fff;
    color: #e42d40;
    padding: 15px 32px;
    border: 3px solid #e42d40;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-weight: bold;
}

/* Footer */
#container {
    min-height: 100%;
    position: relative;
}

#footer {
	position: absolute;
	bottom: 1;
	width: 100%;
	height: 30px;
	background: #fff;
    border-top: 1px solid #ccc;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-top: 50px;
}

#footer p {
    margin-bottom: 2px;
    text-align: center;
    color: #000;
}

#footer a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
}

#footer a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #ccc;
    font-weight: 400;
}


