/* Imported fonts */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Amaranth');

/* CSS reset */
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

/* Navbar */
.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: absolute; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a {
    float: left;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #f2f2f2;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 8px 8px 8px;
}

.navbar a:hover {
    color: #e42d40;
    background: #fff;
    transition: 0.3s;
}

.navbar #workshops{
    float: right;
}


/* Header */
#header {
    height: 100%;
    width: 100%;
    /*background: #e42d40;*/
    background: url('../images/bg.png') fixed repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

#intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#title {
    text-align: center;
}

#title p {
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    padding: 0 2px 0 2px;
}

#title h1 {
    font-family: 'Amaranth', sans-serif;
    color: #fff;
    font-size: 72px;
}
#title h1 span {
    position: relative;
    padding-bottom: 15px;
}
#title h1 span::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 4px solid #fff;
    content: ""
}

#mission fieldset {
    width: 58%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
}

#mission legend {
    padding: 0 4px 0 4px;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 22.5px;
}

#mission p {
    padding: 4px 0 8px 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

#announcement {
    width: 60%;
    background: #fff;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px 5px 15px 5px;
}

#announcement h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin-left: 15px;
}

#announcement p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 15px;
}

#announcement a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #777;
    border-bottom: 1px dotted #777;
    font-size: 1em;
}

#down-button {
    position: absolute;
    margin: 0 0 0 50%;
    color: #fff;
    bottom: 4px;
}

#down-button a {
    text-decoration: none;
    color: #fff;
}

/* Content wrapper */
#content {
    height: 100%;
    padding-bottom: 400px;
}

/* About */
#about {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
}

.title h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5rem;
    color: #363636;
}

.title hr {
    margin-top: 15px;
    border: none;
    height: 1px;
    width: 870px;
    color: #ddd;
    background-color: #ddd;
}

#about img {
    height: 70px;
    width: 150px;
}

#about a {
    text-decoration: none;
}

#card-container {
    text-align: center;
}

.card {
    display: inline-block;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    transition: 0.3s;
    border: 1px solid #ddd;
    width: 275px;
    margin: 20px 10px 0 15px;
    padding-bottom: 15px;
}

.card:hover {
    box-shadow: 0 4px 16px rgba(10, 10, 10, 0.1);
    cursor: pointer;
}

.card i {
    color: #363636;
}

.container h4 {
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-size: 24px;
    text-align: center;
}

.container p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #363636;
    text-align: center;
    margin-top: 10px;
}

.container {
    padding: 2px 16px;
}

/* Team profiles */
#team-members {
    margin-top: 70px;
}
.row {
    text-align: center;
}
.column {
    text-align: center;
    display: inline-block;
    margin-top: 24px;
    padding: 0 8px;
}

@media (max-width: 650px;) {
    .column {
        width: 100%;
        display: block;
    }
}

.profile-container {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    transition: 0.3s;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 245px;
    width: 200px;
    margin: 0 10px 0 10px;
    padding-bottom: 8px;
}

.profile-container:hover {
    box-shadow: 0 4px 16px rgba(10, 10, 10, 0.1);
    cursor: pointer;
}

.profile-container p, h2, h4 {
    padding: 0 16px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.profile-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.profile-container h2 {
    margin-top: 5px;
    font-size: 1.25em;
    font-weight: bold;
    color: #363636;
}

.profile-container h4 {
    margin: 2px 0 5px 0;
    font-size: 0.875em;
    color: #e42d40;0
}

.profile-container i {
    transition: 0.3s;
    color: grey;
    margin: 0 3px 0 3px;
}

.profile-container i:hover {
    color: #aaa;
    border-bottom: none;
}

.profile-container a:hover {
    text-decoration: none;
    border-bottom: none;
}

#team-members img {
    margin-top: 20px;
}

/* Photo gallery */
#club_photos {
    margin-top: 70px;
}

#photo_container {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

#photo_container img {
    width: 28%;
    height: 30%;
    margin: 0 auto;
}

/* events */
#events {
    margin-top: 70px;
    text-align: center;
}

.post {
    margin: 15px auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: #363636;
    display: inline-block;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    transition: 0.3s;
    border: 1px solid #ddd;
    width: 45%;
    padding-bottom: 15px;
}

.post:hover {
    box-shadow: 0 4px 16px rgba(10, 10, 10, 0.1);
    cursor: pointer;
}

.post_title h1 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
}

.post_title h2 {
    margin-top: 2px;
    font-size: 16px;
    color: #aaa;
}

.post_title {
    text-align: center;
}

.post_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.post_content p, a {
    font-size: 18px;
}

.post_content a {
    text-decoration: none;
    color: #666;
    border-bottom: 1px dotted #aaa;
}

.post_content a:hover {
    color: #666;
    border-bottom: none;
}

/* contact */
#contact {
    margin-top: 70px;
    background-color: #e42d40;
    height: 158px;
    text-align: center;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

#contact h1 {
    font-size: 32px;

}

#contact h2 {
    font-size: 18px;
}

#icon_container {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
}

#icon_container a {
    text-decoration: none;
    color: #fff;
}


}

#contact h2 {
    font-size: 18px;
}

#icon_container {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
}

#icon_container a {
    text-decoration: none;
    color: #fff;
}



/* Footer */
#footer {
    text-align: center;
    height: 50px;
    background-color: #363636;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
